version: "3.8"

services:
  jenkins:
    build: .
    container_name: jenkins
    user: root
    restart: unless-stopped
    ports:
      - "8080:8080"   # Jenkins Web UI
      - "50000:50000" # Agent communication
    environment:
      - JAVA_OPTS=-Djenkins.install.runSetupWizard=false
      - TZ=Asia/Kolkata
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - docker

  docker:
    image: docker:dind
    privileged: true
    environment:
      - DOCKER_TLS_CERTDIR=/certs
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock

volumes:
  jenkins_home:
